files:
  "/usr/share/tomcat8/lib/tomcat-dbcp-8.0.26.jar" :
    mode: "000744"
    owner: root
    group: root
    source: https://repo1.maven.org/maven2/org/apache/tomcat/tomcat-dbcp/8.0.26/tomcat-dbcp-8.0.26.jar
  "/usr/share/tomcat8/lib/mysql-connector-java-5.1.36.jar" :
    mode: "000744"
    owner: root
    group: root
    source: https://repo1.maven.org/maven2/mysql/mysql-connector-java/5.1.36/mysql-connector-java-5.1.36.jar
